<mat-card class="gift" [ngClass]='{"locked": gift.locked }'>
    <div style="width: 100%;">
        <div class="gift-element" style="width: 60%;">
            <div>
                {{gift.title}}
            </div>
            <div *ngIf="gift.url">
                <a href="{{gift.url}}" target="_blank">Link</a>
            </div>
        </div>
        <div class="gift-element gift-td" style="width: 30%;">
            <img *ngFor="let item of [].constructor(5); let i = index" src="assets/tree-min.png"
                [ngClass]="{'fading': i + 1 > gift.power}" />
        </div>
        <div class="gift-element gift-td" style="width: 10%;">
            <button *ngIf="gift.locked" mat-flat-button color="secondary" (click)="unlockItem()">Unlock</button>
            <button *ngIf="!gift.locked" mat-flat-button color="secondary" (click)="lockItem()">Lock</button>
        </div>
    </div>
</mat-card>