<mat-card class="gift" *ngIf="!gift.deleted">
    <div style="width: 100%;">
        <div class="gift-element gift-td gift-content">
            <mat-form-field class="example-full-width">
                <textarea rows=2 matInput placeholder="Nazwa" value="{{gift.title}}"
                    (input)="gift.title = $event.target.value">
                </textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Link" value="{{gift.url}}" (input)="gift.url = $event.target.value">
            </mat-form-field>
        </div>
        <div class="gift-element gift-td gift-power">
            <img *ngFor="let item of [].constructor(5); let i = index" src="assets/tree-min.png"
                [ngClass]="{'fading': i + 1 > tempPower}" (mouseenter)="highlightPower(i + 1)"
                (mouseleave)="unhighlightPower()" (click)="changePower(i + 1)" />
        </div>
        <div class="gift-element gift-td gift-actions">
            <mat-icon (click)="delete()" matTooltip="Usuń" color="warn">delete</mat-icon>
        </div>
    </div>
</mat-card>