<ng-container *ngIf="!canLogin">
    <mat-form-field class="login-input">
        <input type="password" matInput placeholder="Nowe hasło" (input)="password = $event.target.value"
            (keyup.enter)="recover()">
    </mat-form-field>
    <mat-form-field class="login-input">
        <input type="password" matInput placeholder="Powtórz hasło" (input)="repeatedPassword = $event.target.value"
            (keyup.enter)="recover()">
    </mat-form-field>
    <button mat-flat-button class="mt10" color="primary" (click)="recover()">Ustaw nowe hasło</button>
    <div class="error mt10" *ngIf="passwordsAreDifferent">
        Hasła nie są takie same
    </div>
</ng-container>
<ng-container *ngIf="canLogin">
    Możesz się już zalogować
</ng-container>