<ng-container *ngIf="!canLogin">
    <mat-form-field class="login-input">
        <input type="password" matInput placeholder="Password" (input)="password = $event.target.value"
            (keyup.enter)="recover()">
    </mat-form-field>
    <mat-form-field class="login-input">
        <input type="password" matInput placeholder="Repeat password" (input)="repeatedPassword = $event.target.value"
            (keyup.enter)="recover()">
    </mat-form-field>
    <button mat-flat-button class="mt10" color="primary" (click)="recover()">Set new password</button>
    <div class="error mt10" *ngIf="passwordsAreDifferent">
        Passwords are different
    </div>
</ng-container>
<ng-container *ngIf="canLogin">
    You can login now.
</ng-container>