<mat-toolbar>
  <mat-toolbar-row>
      <span *ngIf="!_authenticatedUser.isLoggedIn()"><a routerLink="/" routerLinkActive="active">Zaloguj</a>
      </span>
    <span *ngIf="_authenticatedUser.isAdmin()"><a routerLink="/admin/dashboard" routerLinkActive="active">Loteria</a>
    </span>
    <span *ngIf="_authenticatedUser.isUser()"><a routerLink="/dashboard" routerLinkActive="active">Prezenty</a></span>
    <span *ngIf="_authenticatedUser.isLoggedIn()"><a routerLink="" (click)="logout()">Wyloguj</a></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>