img.fading {
    opacity: 0.25;
}

img {
    width: 30px;
    height: 30px;
}

.example-full-width {
  width: 100%;
}

.gift-element {
    display: inline-block;
}

.gift-td {
    vertical-align: middle;
    text-align: center;
}

.gift-td > button:not(:first-child) {
    margin-top: 10px;
}

.gift-td > button {
    display: block;
}

.gift {
    margin-top: 10px;
}

.gift-content {
    width: 60%;
}

.gift-power {
    width: 30%;
}

.gift-actions {
    width: 10%;
}

.mat-icon {
    cursor: pointer;
    user-select: none;
}

.gift-power,
.gift-power.img {
    user-select: none;
}

@media only screen and (max-width: 620px) {
    .gift-element {
        display: block;
    }
    
    .gift-td {
        vertical-align: top;
        text-align: start;
    }

    .gift-content {
        width: 100%;
    }

    .gift-power {
        margin-top: 30px;
        width: 100%;
    }

    .gift-actions {
        margin-top: 30px;
        width: 100%;
    }
}