<h2 *ngIf="recipientGifts.firstName">Proponowane<span> przez {{recipientGifts.firstName}}
        {{recipientGifts.lastName}}</span></h2>
<span *ngIf="recipientGifts.firstName && recipientGifts.wishes.length === 0">Ta osoba nie podała jeszcze żadnych propozycji.</span>
<ng-container *ngIf="recipientGifts">
    <app-gift-to-buy *ngFor="let gift of recipientGifts.wishes" [gift]="gift">
    </app-gift-to-buy>
</ng-container>
<h2>Moja lista życzeń</h2>
<app-gift *ngFor="let gift of myGifts" [gift]="gift">
</app-gift>
<button mat-flat-button class="mt10" (click)="addWish()">
    <mat-icon>add</mat-icon>
</button>
<button mat-flat-button class="mt10 ml10" color="primary" (click)="save()" [disabled]="saveInProgress">Zapisz</button>
<div class="ml10" style="display: inline-block;" [style.color]="lastSaveSuccess ? 'green' : 'red'">
    <ng-container *ngIf="lastSaveSuccess">
        Zapisano życzenia
    </ng-container>
    <ng-container *ngIf="lastSaveSuccess !== null && !lastSaveSuccess">
        Nie udało się zapisać życzeń
    </ng-container>
</div>